<header>
    <img src="/assets/Logo.png" alt="Void">
    <nav>
        <ul>
            <li>Shop</li>
            <li>Collections</li>
            <li>About</li>
        </ul>
        <div class="side-section">
            <a href="#" >
                <img src="/assets/Profile.png" alt="profile" id="pro">
            </a>
            <a href="#" >
                <img src="/assets/Like.png" alt="Like" id="like">
            </a>
            <a href="#" >
                <img src="/assets/Cart.png" alt="Cart" id="cart">
            </a>
        </div>
    </nav>

</header>