<div class="main-body">
    <h1>Categories</h1>
    <div class="card-container">
        <div class="card-1 shirt">
            <button>Shirts</button>

        </div>
        <div class="card-1 top">
            <button>Tops</button>

        </div>
    </div>
</div>

<div class="slider-container">
    <div class="text-slider">
      <p>THE BEST STREETWEAR I’VE HAD</p>
      <p>THE BEST STREETWEAR I’VE HAD</p>
      <p>THE BEST STREETWEAR I’VE HAD</p>
      <p>THE BEST STREETWEAR I’VE HAD</p>
      <p>THE BEST STREETWEAR I’VE HAD</p>
      <p>THE BEST STREETWEAR I’VE HAD</p>
      <p>THE BEST STREETWEAR I’VE HAD</p>
      <p>THE BEST STREETWEAR I’VE HAD</p>
      <p>THE BEST STREETWEAR I’VE HAD</p>
      <p>THE BEST STREETWEAR I’VE HAD</p>
      <p>THE BEST STREETWEAR I’VE HAD</p>
      <p>THE BEST STREETWEAR I’VE HAD</p>
      <p>THE BEST STREETWEAR I’VE HAD</p>
      <p>THE BEST STREETWEAR I’VE HAD</p>
      <p>THE BEST STREETWEAR I’VE HAD</p>
      <p>THE BEST STREETWEAR I’VE HAD</p>
    </div>
  </div>


  <div class="mid-image">
    <div class="bg-mid"></div>
  </div>


  <div class="mid-message">
    <h1>ENTER THE VOID.
        WORLD WIDE </h1>
        <button>SEE ALL PRODUCTS</button>
  </div>

  <footer class="site-footer">
    <div class="footer-container">
      <div class="footer-left">
        <h2>VOID WORLD WIDE</h2>
        <ul>
          <li><strong>MORE</strong></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Offers</a></li>
          <li><a href="#">Privacy</a></li>
        </ul>
      </div>
  
      <div class="footer-right">
        <h3>JOIN OUR NEWSLETTER</h3>
        <form class="newsletter-form">
          <input type="email" placeholder="Enter your email" required />
          <button type="submit">SUBMIT</button>
        </form>
      </div>
    </div>
  
    <div class="footer-bottom">
      <a href="#">Privacy Policy</a>
    </div>
  </footer>
  