<app-header></app-header>
  
<div class="main-test">
  <div class="hero-section">
    <div class="hero-content">
      <h1>HIT THE ROAD<br>IN STYLE</h1>
      <p>Elevate Your Streetwear Game<br>by entering the Void!</p>
    </div>
  
    <div class="models">
      <!-- <img src="/assets/left.png" alt="Left Model" class="model left" /> -->
      <!-- <img src="/assets/center.png" alt="Center Model" class="model center" /> -->
      <img src="/assets/right1.png" alt="Right Model" class="model right" />
    </div>
  </div>
  
  <div class="bottom-banner">
    <div class="banner-text">
      <h2><span>CLOTHES THAT</span><br><span class="red">REDEFINE</span> PERFECTION</h2>
     <div class="cont">
      <p>Void is your ultimate destination for trendy, street-style fashion that keeps you ahead of the curve.</p>
      <button>ABOUT US</button>
     </div>
    </div>
  </div>
  
  
</div>

<!-- 
  <img src="/assets/left.png" alt="Left" class="model left"/>
  <img src="/assets/center.png" alt="Center" class="model center"/>
  <img src="/assets/right1.png" alt="Right" class="model right"/> -->

  <app-categories></app-categories>