
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bowlby One', cursive;

}

body {
    background: #000;
    color: #fff;
}